/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/*
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,  td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
*/

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  -font-style:italic;
  -font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}




/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{

  -background: #ffffff;
  -background: #eeeeee;
  -font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  -font-size: 20px;
}
.site-header{
  background: #dcdcdc;
  display: flex;
  padding: 50px 45px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
/*
.site-logo img{
height: 20px;
width: auto;
}
*/
.gnav__menu{
  display: flex;
}
.gnav__menu__item{
  margin-left: 20px;
}
.gnav__menu__item a{
  color: #333;
  text-decoration: none;
}
.hero{
  max-height: 73vw;
  overflow: hidden;
}
.hero img{
  height: auto;
  width: 100%;
}



.hide img{
  max-height: 130px
}



.bx-wrapper {
  box-shadow: none !important;
  border: none !important;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 70 !important;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 30px !important;
}

.bx-wrapper {
  margin-bottom: 0 !important;
}



.content{
  line-height: 1.6;
  margin: 0 auto;
  -padding-top: 100px;
  width: 900px;
  background: white;
  padding: 20px 20px;
  clear: both;
  display: block;
}

.content:after{
  content: "";
  display: block;
  clear: both;
}

.content p{
  margin-bottom: 5px;
  margin-left: 10px;
}

.site-footer{
  background: #555;
  padding: 80px 0;
  clear:both;
}
.copyright{
  color: #fff;
  font-size: 20px;
  text-align: center;
}


.img{
  width:161px;
}

h2{
  position: static;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-bottom: 10px;
  margin-top: 10px;
  clear: both;
}

.space-on-h2{
  clear: both;
  height: 10px;
}
/*
h2:before, h2:after{
content: '';
position: static;
top: -7px;
width: 2px;
height: -webkit-calc(100% + 14px);
height: calc(100% + 14px);
background-color: black;
}
h2:before {left: 7px;}
h2:after {right: 7px;}
*/
table{
}

.matome{
  margin-left: 10px;
}

.prof{
  margin-left: 10px;
}

.text {
  text-align: center;
  padding: 5px 0;
  font-weight:bold;
}

.month{
  /*width: 100px;*/
  width: 12%;
  vertical-align: top;
  border: 5px;
}



ul.cp_list {
  padding:0.5em;
  list-style-type:none;
}
ul.cp_list li {
  position:relative;
  padding: 0em 0.3em 0.3em 1.3em;
}
ul.cp_list li:before {
  position:absolute;
  content:'';
  top: 0.5em;
  left: 0.2em;
  height:0;
  width:0;
  border-style: solid;
  border-width: 6px 0 6px 9px;
  border-color: transparent transparent transparent black;
}

/* .title_left{
float: left;
} */

.title_right{
  float:right;
}


.three-select li{
  float: left;
  list-style: none;
  margin: 35px;
}

.not-three-select{
  clear:both;
}


.big-title {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #deb887;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.big-title2 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #bdb76b;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}


.cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl02 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
  position: absolute;
  top: 0;
  right: 2.5em;
  bottom: 0;
  width: 1px;
  content: '';
  border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}


.title-box1{
  margin: 1em 0;
  padding: 1em;
  position: relative;
  border: 1px solid #555;
}

.title-box1-title{
  position: absolute;
  top: -0.8em;
  left: 20px;
  font-weight: bold;
  font-size: 1.2em;
  background: #fff;
  padding: 0 0.5em;
}

.title-box1 p{
  margin: 0;
  padding: 0;
}




.card3 {
  width: 410px;
  height: 173px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 3px 6px #ccc;
}
.box3 {
  display: flex;
}
.image3 {
  width: 120px;
  height: 173px;
  /* height: 100px; */
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.title3 {
  font-size: 150%;
  padding-left: 10px;
  margin: 10px;
  color: #444;
}
.content3 {
  padding: 5px 0px 0px 15px;
  /* 上、右、下、左 */
  color: #666;
}



.is-odd{
  float:left;
}

.is-even{
  float: right;
}



.card1 {
  float:left;
  width: 161px;
  margin: 5px;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 3px 6px #ccc;
}
.image1 {
  width: 161px;
  height: 232px;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.title1 {
  text-align: center;
  font-size: 90%;
  margin-top: 10px;
  color: #222;
}
.content1 {
  text-align: center;
  font-size: 60%;
  padding: 10px;
  color: #666;
}

.content p {
  margin-bottom: 0px;
  margin-left: 0px;
}





/*ポップアップここから*/
.popup_wrap input {
  display: none;
}

.popup_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup_content {
  position: relative;
  align-self: center;
  width: 90%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
}

.close_btn {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
}

.popup_wrap input:checked ~ .popup_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.open_btn {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin:10px auto;
  padding: 8px 16px;
  color: #fff;
  background:#0c0d62;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  cursor: pointer;
  transition: .3s ease;

}
.open_btn:hover{
    background:#000;
    color:#fff;
    transition: .3s ease;
}
/*ポップアップココまで*/
