<Files .htaccess>
    order allow,deny
    deny from all
</Files>

<Files "memo.txt">
    order allow,deny
    deny from all
</Files>

<Files test.html>
    order allow,deny
    deny from all
</Files>
